.HomePage {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    padding-top: 1em;
    padding-bottom: 2em;
    box-sizing: border-box;
}

.ContractsList {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;


    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ListItem {
    width: 100%;
    height: 4em;
    border: var(--thirdly-bg-color) solid;
    border-radius: 15px;
    padding: 0.5em;

    cursor: pointer;
}

.ButtonContainer {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%;

    padding: 0.5em;
}

.UserButton {
    display: flex;
    justify-content: center;
}

.ActionButton {
    display: flex;
    justify-content: center;
}
